@page "/"
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Index</PageTitle>

<AuthorizeView Context="auth">
    <Authorized>
        <div class="container">
            <div class="row">
                <p>Signed in as <b>@auth.User.Identity?.Name</b></p>
                <p>Email: <b>@(auth.User.FindFirst("email")?.Value ?? auth.User.FindFirst(System.Security.Claims.ClaimTypes.Email)?.Value)</b></p>

                <div class="">
                    <button class="btn btn-primary" @onclick="GenerateLink">Vygenerovat odkaz</button>
                    <a class="btn btn-success" href="/calendar">Kalendář</a>
                    <a class="btn btn-outline-danger" href="/auth/logout">Logout</a>
                </div>

                <div class="">
                    @if (!string.IsNullOrEmpty(_newLink))
                    {
                        <div class="alert alert-success mt-3">
                            Sdílejte tento odkaz (platí pro sjednání jedné schůzky):<br />
                            <code>@_newLink</code>
                        </div>
                    }
                </div>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
            <div class="container">
                <div class="alert alert-info">
                    Pro práci se schůzkami se prosím přihlaste.
                </div>
                <div class="">
                    <a class="btn btn-primary" href="/auth/login?returnUrl=%2F">Login with Google</a>
                </div>
            </div>
    </NotAuthorized>
</AuthorizeView>


