<AuthorizeView>
    <Authorized>
        <a class="btn">Hello, @context.User.Identity?.Name!</a>
        <a class="btn btn-outline-danger" href="/auth/logout">Logout</a>
    </Authorized>
    <NotAuthorized>
        <a class="btn btn-primary" href="/auth/login?returnUrl=%2F">Login with Google</a>
    </NotAuthorized>
</AuthorizeView>
